@model ProyectoG6.BaseDatos.Productos
@{
    ViewBag.Title = "ActualizarProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container mt-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <button onclick="window.location.href='@Url.Action("MostrarProductos", "Home")';" class="btn btn-primary me-3">
            <i class="fa fa-arrow-circle-left"></i>Volver
        </button>
        <h2 class="text-center flex-grow-1 mb-0">Actualizar Producto</h2>
    </div>
</div>

<div class="container mt-5">
    <div class="border p-4 rounded shadow-sm bg-light">
        @using (Html.BeginForm("ActualizarProducto", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.HiddenFor(m => m.IdProducto)

            <div class="row mb-4">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.Nombre, new { @class = "form-label fw-bold" })
                    @Html.TextBoxFor(m => m.Nombre, new { @type = "text", @class = "form-control form-control-lg", @placeholder = "Nombre del producto", required = "required" })
                </div>

                <div class="col-md-6">
                    @Html.LabelFor(m => m.Precio, new { @class = "form-label fw-bold" })
                    @Html.TextBoxFor(m => m.Precio, new { @type = "text", @class = "form-control form-control-lg", @placeholder = "Precio del producto", required = "required", step = "1000" })
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Imagen, new { @class = "form-label fw-bold" })
                    @Html.TextBoxFor(m => m.Imagen, new { @type = "text", @class = "form-control form-control-lg", @placeholder = "URL de la imagen", required = "required" })
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.Categoria, new { @class = "form-label fw-bold" })
                    @Html.DropDownListFor(m => m.Categoria, (SelectList)ViewBag.Categorias, "Seleccione una categoría", new { @class = "form-select form-select-lg", required = "required" })
                </div>

                <div class="col-md-6">
                    @Html.LabelFor(m => m.Inventario, new { @class = "form-label fw-bold" })
                    @Html.TextBoxFor(m => m.Inventario, new { @type = "number", @class = "form-control form-control-lg", @placeholder = "Inventario", required = "required" })
                </div>
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary btn-lg">Actualizar Producto</button>
            </div>
        }
    </div>
</div>
<br />
<br />
<br />