@model List<ProyectoG6.BaseDatos.ConsultarCarrito_Result>
@{
    ViewBag.Title = "ConsultarCarrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["Total"].ToString() == "0")
{
    <br />
    <br />
    <br />
    <div class="container text-center mt-5">
        <h2 class="text-center my-4">
            <i class="fa fa-cart-plus"></i> Carrito Vacío
        </h2>
        <p>Tu carrito está vacío. Puedes seguir comprando productos en nuestra tienda.</p>
        <a href="@Url.Action("MostrarProductos", "Home")" class="btn btn-primary">
            <i class="fa fa-shopping-cart"></i> Ir a la tienda
        </a>
    </div>
    <br />
    <br />
    <br />
    <br />
}
else
{
    <div class="container">
        <br />
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="text-center mb-4">
                            <h2 class="text-center my-4">
                                <i class="fa fa-cart-plus"></i>Carrito
                            </h2>
                        </div>
                        <div class="border p-3 shadow-sm" style="max-height: 400px; overflow-y: auto;">
                            @foreach (var item in Model)
                            {
                                <div class="card mb-4 shadow-sm text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Producto</h5>
                                        <p class="card-text">Precio Unitario: <strong>¢ @item.Precio.ToString("N2")</strong></p>
                                        <p class="card-text">Cantidad: <strong>@item.Cantidad</strong></p>
                                        <p class="card-text">SubTotal: <strong>¢ @item.Subtotal.Value.ToString("N2")</strong></p>
                                        <p class="card-text">Impuesto: <strong>¢ @item.Impuesto.Value.ToString("N2")</strong></p>
                                        <p class="card-text font-weight-bold text-primary">Total: ¢ @item.Total.Value.ToString("N2")</p>
                                        <a href="javascript:void(0);" class="btn btn-danger mt-3" title="Eliminar"
                                           onclick="ConfirmarEliminar('@item.Producto', '@Url.Action("EliminarDelCarrito", "Carrito", new { IdCarrito = item.IdCarrito ,IdProducto = item.IdProducto })');">
                                            <i class="fas fa-trash-alt"></i> Eliminar
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="row mt-4">
                            <div class="col text-center">
                                <h4 class="alert-heading">Total a Cancelar</h4>
                                <h2 class="font-weight-bold text-primary">¢ @decimal.Parse(Session["Total"].ToString()).ToString("N2")</h2>
                                <a href="javascript:void(0);" class="btn btn-primary mt-4" title="Realizar pago"
                                   onclick="ConfirmarCompra('@Url.Action("PagarCarrito", "Carrito")');">
                                    <i class="fa fa-credit-card"></i> Realizar pago
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
}

<script>
    function ConfirmarEliminar(Producto, urlEliminar) {
        Swal.fire({
            title: "¿Eliminar?",
            html: "¿Deseas eliminar <strong>" + Producto + "</strong> del carrito?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Eliminar",
            cancelButtonText: "Cancelar"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = urlEliminar;
            }
        });
    }

    function ConfirmarCompra(urlPago) {
        Swal.fire({
            title: "¿Confirmar pago?",
            text: "¿Seguro que desea realizar el pago de los productos?",
            icon: "question",
            showConfirmButton: true,
            confirmButtonText: "Confirmar",
            showCancelButton: true,
            cancelButtonText: "Cancelar"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: urlPago,
                    type: 'POST',
                    success: function(response) {
                        Swal.fire({
                            title: "¡Pago realizado!",
                            text: "El pago ha sido realizado exitosamente.",
                            icon: "success",
                            confirmButtonText: "Aceptar"
                        }).then(() => {
                            window.location.href = '@Url.Action("Home", "Login")';
                        });
                    }
                });
            }
        });
    }
</script>
