@model List<ProyectoG6.BaseDatos.FacturaDetalle_Result>
@{
    ViewBag.Title = "FacturaDetalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <a href="@Url.Action("ConsultarFacturas", "Carrito")" class="btn btn-primary">
        <i class="fas fa-arrow-left"></i> Volver
    </a>
    <div class="card shadow-sm">
        <div class="card-body p-4">
            <div class="text-center mb-4">
                <h3 ">
                    <i class="fa fa-receipt"></i> Factura
                </h3>
            </div>

            <div class="mb-4">
                @foreach (var item in Model)
                {
                    <div class="d-flex justify-content-between align-items-center border-bottom py-2">
                        <div class="flex-grow-1">
                            <h5 class="mb-1">@item.Nombre</h5>
                            <p class="mb-0">Cantidad: @item.Cantidad</p>
                        </div>
                        <div class="text-end">
                            <p class="mb-0"><strong>Precio Unitario:</strong> ₡ @item.PrecioUnitario.ToString("N2")</p>
                            <p class="mb-0"><strong>Subtotal:</strong> ₡ @item.Subtotal.ToString("N2")</p>
                            <p class="mb-0"><strong>IVA:</strong> ₡ @item.Impuesto.ToString("N2")</p>
                            <p class="mb-0"><strong>Total:</strong> ₡ @item.Total.ToString("N2")</p>
                        </div>
                    </div>
                }
            </div>

            <div class="row">
                <div class="col-md-12 text-end">
                    <div class="p-3 mb-4">
                        <h5 class="mb-1">
                            <strong>Impuestos:</strong>
                            <span class="text-success">₡@Model.Sum(item => item.Impuesto).ToString("N2")</span>
                        </h5>
                        <h5>
                            <strong>Total a pagar:</strong>
                            <span class="text-success">₡@Model.Sum(item => item.Total).ToString("N2")</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
