@model ProyectoG6.Entidades.Usuario
@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
    ViewBag.Title = "Recuperar Contraseña";
}
<br />
<section class="p-3 p-md-4 p-xl-5 min-vh-100 d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 bsb-tpl-bg-lotion rounded-3 shadow-sm">
                <div class="p-4">
                    <div class="row mb-4">
                        <div class="col-12">
                            <h3 class="text-center">Recuperar Contraseña</h3>
                        </div>
                        @if (TempData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade show text-center fs-4" role="alert">
                                <i class="bi bi-x-circle-fill" style="color: red;"></i>
                                <br />
                                @TempData["ErrorMessage"]
                            </div>
                        }
                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-dismissible fade show text-center fs-4" role="alert" style="background-color: white; color: green; border: 1px solid green;">
                                <i class="bi bi-check-circle-fill" style="color: green;"></i>
                                <br />
                                @TempData["SuccessMessage"]
                            </div>
                        }
                    </div>
                    @using (Html.BeginForm("RecuperarContrasenna", "Login", FormMethod.Post))
                    {
                        <div class="row gy-3 gy-md-4 overflow-hidden">
                            <div class="col-12">
                                @Html.TextBoxFor(m => m.Correo, new { @type = "email", @class = "form-control fs-4", required = "required", placeholder = "Correo Electrónico" })
                            </div>
                            <div class="col-12">
                                <div class="d-grid">
                                    <button class="btn bsb-btn-xl btn-primary fs-4" type="submit">Recuperar Contraseña</button>
                                </div>
                            </div>
                        </div>
                    }
                    <br />

                    <p class="mb-0 text-center fs-5"><a href="@Url.Action("Index", "Login")" class="link-primary text-decoration-none">Iniciar Sesion</a></p>
                </div>
            </div>

            <div class="col-12 col-md-6 bg-white text-dark border border-light border-1 rounded-3 shadow-sm">
                <div class="d-flex flex-column justify-content-between h-100 p-4">
                    <h3 class="m-0 text-center mb-4">
                        <span class="text-dark fs-3">¿OLVIDASTE TU CONTRASEÑA?</span>
                    </h3>
                    <img class="img-fluid rounded mx-auto my-4" loading="lazy" src="~/assets/img/LOGO.png" width="245" height="80" alt="Logo">
                    <p class="mb-0 text-center fs-5">¿No tienes una cuenta? <a href="@Url.Action("Registro", "Login")" class="link-primary text-decoration-none">Regístrate aquí</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
